<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей &ndash; Rolf</title>
</head>
<body>
<a data-th-href="@{/catalog/carsRent/create}">+ Внести в базу новый автомобиль</a>
<h1>Список автомобилей</h1>
<form method="get" data-th-action="@{/catalog/catalog/carsRent/list}">
    <label>Фильтр: <input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Поиск</button>
    </label>
</form>
<TABLE>
    <thead>
    <tr>
        <th>#</th>
        <th>Автомобиль</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="car : ${cars}">
    <td data-th-text="${car.id}"></td>
        <td>
            <a data-th-href="@{/catalog/carsRent/{carId}(carId=${car.id})}"
               data-th-text="${car.brand}"></a>
        </td>
    </tr>
    </tbody>
</TABLE>
</body>
</html>
